<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Cargo</th>
      <th>Sueldo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleadoLista | paginate:config;">
      <td>{{empleado.id}}</td>
      <td>{{empleado.nombre}}</td>
      <td>{{empleado.apellido}}</td>
      <td>{{empleado.cargo}}</td>
      <td>{{empleado.salario}}</td>
      <td>
        <a [routerLink]="['/actualizar', empleado.id]" [queryParams]="{accion:'1'}">Actualizar</a>
        &nbsp;
        <a [routerLink]="['/actualizar', empleado.id]" [queryParams]="{accion:'2'}">Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>


<pagination-controls 
  previousLabel="Atrás" 
  nextLabel="Siguiente" 
  class="paginacion" 
  (pageChange)="pageChange($event)"
>
</pagination-controls>