<h1 class="titulo">{{titulo}}</h1>
<div class="container">
  <form action="">
    <div>
      <label for="nombre">Nombre: </label>
      <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="cuadroNombre">
      <label for="apelldio">Apellido: </label>
      <input type="text" name="apellido" placeholder="Apellido" [(ngModel)]="cuadroApellido">
      <label for="cargo">Cargo: </label>
      <input type="text" name="cargo" placeholder="Cargo" [(ngModel)]="cuadroCargo">
      <label for="Salario">Salario: </label>
      <input type="number" name="salario" placeholder="Salario" [(ngModel)]="cuadroSalario">
    </div>
    <div>
      <button type="submit" class="btn btn-warning" (click)="agregarEmpleado()">Agregar empleado</button>
    </div>
  </form>
</div>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Cargo</th>
      <th>Sueldo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados | paginate:config; let i= index">
      <td>{{i}}</td>
      <td>{{empleado.nombre}}</td>
      <td>{{empleado.apellido}}</td>
      <td>{{empleado.cargo}}</td>
      <td>{{empleado.salario}}</td>
    </tr>
  </tbody>
</table>

<pagination-controls previousLabel="atras" nextLabel="Siguiente" class="paginacion" (pageChange)="pageChange($event)">
</pagination-controls>
